.auth-form{
    display: flex;
    justify-content: center;
    
    .card{
        width: 100%;
        max-width: 480px;
        padding: 1rem;

        .form-inputs > *{
            margin-bottom: 10px
        }

        .form-inputs >:last-child{
            margin-bottom: 0;
        }

        .form-inputs{
           margin-bottom: 30px
        }

        .form-actions{
            margin-bottom: 30px;
        }
    }
}